window {
    font-family: "Recursive Sans Casual Static";
    font-size: 13px;
    margin: 0px;
    border: 5px solid #81c8be;
    background-color: #303446;
    border-radius: 2rem;
}

#input {
    all: unset;
    min-height: 36px;
    padding: 4px 10px;
    margin: 4px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: #303446;
    outline: none;
    border-radius: 12rem;
    margin: 10px;
    margin-bottom: 2px;
}

#inner-box {
    margin: 4px;
    padding: 10px;
    font-weight: bold;
    border-radius: 2rem;
}

#outer-box {
    margin: 0px;
    padding: 3px;
    border: none;
    border-radius: 2rem;
    border: 5px solid #81c8be;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 2rem;
    margin-bottom: 5px;
}

#text {
    color: #cdd6f4;
    border-radius: 2rem;
}

#text:selected {
    color: #1e1e2e;
    margin: 0px 0px;
    border: none;
    border-radius: 2rem;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 2rem;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 2rem;
    background: #ca9ee6;
}