.onagre {
  --exit-unfocused: false;
  height: 375px;
  width: 600px;
  --icon-theme: "zafiro-dark";
  --icon-size: 40px;
  --font-family: "FiraCode Nerd Font";
  background: #303446;
  color: #c6d0f5;
  border-radius: 10%;
  border-color: #81c8be;
  border-width: 4px;
  padding: 10px;

  .container {
    padding: 10px;
    .search {
      --spacing: 1;
      --height: fill-portion 1;

      .plugin-hint {
        background: #8caaee;
        border-radius: 25%;
        color: #303446;
        font-size: 18px;
        --align-x: center;
        --align-y: center;
        --width: fill-portion 1;
        --height: fill;
      }

      .input {
        font-size: 20px;
        --width: fill-portion 11;
      }
    }

    .rows {
      --height: fill-portion 8;
      padding-top: 5px;

      .row-selected {
        padding: 15px;
        background: #f4b8e4;
        border-radius: 50%;
        --spacing: 3px;
        --align-y: center;

        .title {
          font-size: 20px;
          color: #303446;
          padding-top: 13px;
          padding-left: 5px;
        }
      }

      .row {
        padding: 15px;
        .title {
          font-size: 20px;
          padding-top: 13px;
          padding-left: 5px;
        }
      }
    }

    .scrollable {
      background: #00000000;
      .scroller {
        color: #4c566a00;
      }
    }
  }
}